* {
    font-family: 'DM Sans', sans-serif;
}

.navbar {
    direction: ltr;
}

.nav-logo,
.nav-text {
    display: none;
}

.nav-logo-2 {
    width: 98px;
    display: flex;
}

.ul-first-1 a {
    font-size: 1.1em;
    letter-spacing: .05rem;
}

.nav-circle .amount {
    font-size: .8em;
    top: 1px;
    left: 35px;
    border-radius: 5px 5px 5px 0px;
    padding: 2px 3.4px 2px 3.4px;
}

header {
    direction: ltr;
}