@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Caveat:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Vazir;
}

:root {
    --primaryColor: #4A148C;
    --mainWhite: #fff;
    --mainBlack: #000;
    --mainGreen: #f8faf9;
    --mainBlue: #f8f9fb;
}

body {
    width: 75%;
    direction: rtl;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.logo-all {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.nav-logo {
    width: 35px;
    height: 35px;
}

.nav-text {
    font-size: 1.9em;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2.4rem;
    margin: 0 auto;
    list-style: none;
}

ul a {
    font-size: 1.1em;
    color: var(--mainBlack);
    text-decoration: none;
    transition: .8s;
}

.nav-icons {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    column-gap: .5rem;
}

.nav-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--mainWhite);
    transition: 300ms ease-in;
    padding: 12px;
    border: 1px solid #4A148C;
    border-radius: 50%;
    color: var(--primaryColor);
    cursor: pointer;
}

.nav-circle:hover {
    color: var(--mainWhite);
    background-color: var(--primaryColor);
}

.nav-circle:first-child {
    border: 1px solid transparent;
}

.nav-circle>svg {
    width: 1.4rem
}

.nav-circle:nth-child(3)>svg {
    transform: translateY(2px)
}

.nav-circle:nth-child(4)>svg {
    transform: translateY(2px)
}

.nav-circle .amount {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--mainWhite);
    background-color: rgba(89, 86, 233, 1);
    border-radius: 5px 5px 0px 5px;
    padding: 0px 3px 0px 3px;
    font-size: .9em;
    transform: translateY(-9px)
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-top: 3rem;
    gap: 3rem;
}

aside {
    margin-top: 6rem;
}

aside>h1 {
    font-size: 60px;
    line-height: 1.4em;
    text-align: end;
}

#mouse-text {
    color: rgb(112, 111, 111);
    text-align: end;
    font-size: 1.1em;
    margin: 1.2rem 0 1.8rem 0;
}

#money {
    font-size: 1.3em;
    font-weight: 400;
    margin: 2rem 2.2rem 0rem 0rem;
}

#mouse {
    font-size: 34px;
    font-weight: 400;
    color: rgb(110 109 109);
}

.two-btn-header {
    display: flex;
    gap: .8rem;
    margin-top: 2rem;
}

.shop-btn {
    border: 0;
    color: var(--mainWhite);
    background-color: var(--primaryColor);
    width: 240px;
    line-height: 18px;
    font-weight: 500;
    font-size: 18px;
    padding: 14px 20px;
    border-radius: 120px;
    box-shadow: rgb(74 20 140 / 18%) 0px 3px 5px 0px;
    cursor: pointer;
}

.shop-btn:hover {
    background-color: #250b46;
    transition: .8s;
}

.next-btn {
    background-color: var(--mainWhite);
    color: var(--primaryColor);
    border: 1px solid #4A148C;
    border-radius: 120px;
    width: 120px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.next-btn:hover {
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    transition: .8s;
}

.mouse-all {
    position: relative;
    top: 0;
    left: 0;
}

.nested-circles {
    position: relative;
    top: 0;
    left: 0;
    width: 40rem;
    height: 40rem;
}

.mouse {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    margin: 10rem 0 0 5rem;
}

.purple-shadow {
    position: absolute;
    top: 415px;
    left: 60px;
    width: 75%;
}

.light-purple {
    position: absolute;
    top: 430px;
    left: 0;
    width: 9%;
}

.bold-purple {
    position: absolute;
    top: 466px;
    left: 465px;
    width: 26%;
}

.blue-circle {
    position: absolute;
    top: 30px;
    left: 490px;
    width: 13%;
}

.right-arrow-1 {
    position: absolute;
    top: 148px;
    left: 50px;
    z-index: 20;
    width: 25.5%;
}

.right-arrow-2 {
    position: absolute;
    top: 99px;
    left: 212px;
    width: 25.5%;
    z-index: 30;
}

.left-arrow {
    position: absolute;
    top: 168px;
    left: 441px;
    z-index: 32;
    width: 20%;
}

#scroll {
    position: absolute;
    top: 130px;
    left: -45px;
    font-size: 18px;
    font-weight: 300;
}

#design {
    position: absolute;
    top: 73px;
    left: 129px;
    font-size: 18px;
    font-weight: 300;
}

#back-forward {
    position: absolute;
    top: 152px;
    left: 564px;
    font-size: 18px;
    font-weight: 300;
}

.pro-btn {
    position: fixed;
    top: 595px;
    left: 1150px;
    display: flex;
    align-items: center;
    gap: .3rem;
    border: 0;
    color: var(--mainWhite);
    background-color: var(--mainBlack);
    border-radius: 20px;
    font-size: 1.1em;
    padding: .3rem .5rem;
    z-index: 33;
    cursor: pointer;
}

.pro-btn:hover {
    background-color: #7ad03a;
    transition: .8s;
}

.pro-btn-svg {
    width: 25px;
    height: 25px;
    color: var(--mainWhite);
}

.devices-navbar {
    direction: ltr;
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    cursor: pointer;
}

.devices-img:hover {
    transform: scale(1.1);
    transition: .2s;
}

.devices-navbar-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1em;
}

.weekly {
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

.weekly-left {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    width: 28%;
    height: 100%;
    background-color: #edf2f6;
    margin: 6rem 0 0 0;
    padding: 2.8rem 0 2.6rem 0;
    border-radius: 10px;
}

.weekly-h3 {
    font-size: 2.2em;
    font-weight: 500;
    text-align: center;
}

.weekly-text {
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
}

.countdown {
    display: flex;
    gap: 1.8rem;
}

span>sub {
    font-size: .8em;
}

p #demo {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

.weekly-btn {
    border: 0;
    color: var(--mainWhite);
    background-color: var(--primaryColor);
    width: 151px;
    line-height: 18px;
    font-weight: 500;
    font-size: 18px;
    padding: 14px 18px;
    border-radius: 120px;
    box-shadow: rgb(74 20 140 / 18%) 0px 3px 5px 0px;
    cursor: pointer;
    margin: 0 auto;
}

.weekly-btn:hover {
    background-color: #250b46;
    transition: .8s;
}

.weekly-right {
    display: flex;
    width: 85%;
    height: 100%;
    background-color: #edf2f6;
    border-radius: 10px;
    margin: 6rem 0 0 0;
    padding: 0rem 0 2.6rem 0;
}

.w-r-div-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.w-r-img {
    width: 15.5rem;
    height: 18.5rem;
    border-radius: 10px;
}

.w-r-first {
    font-size: .8em;
    color: rgb(97, 97, 97);
}

.w-r-sec {
    font-weight: 450;
    cursor: pointer;
}

.w-r-sec:hover {
    color: #5956e9;
}

.w-price {
    display: flex;
    gap: 1.2rem;
    direction: ltr;
}

.w-pri {
    color: #5956e9;
}

.w-price del {
    color: rgb(156, 156, 156);
    text-decoration: line-through;
}

.w-discount3 {
    position: relative;
}

.w-discount {
    position: absolute;
    color: var(--mainWhite);
    background-color: #ff5656;
    direction: rtl;
    font-size: .83em;
    padding: 0rem 0.33rem 0rem 0.33rem;
    border-radius: 8%;
}

.w-discount:first-child {
    top: 18px;
    left: 688px;
}

.w-discount:nth-child(2) {
    top: 18px;
    left: 450px;
}

.w-discount:nth-child(3) {
    top: 18px;
    left: 210px;
}

.playing-ideals {
    display: flex;
    gap: 7rem;
    margin: 7rem 0 0 0;
}

.p-i-first {
    margin-top: 8rem;
}

.p-i-first p {
    color: rgb(90, 89, 89);
}

.playing-ideals h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin: 1.5rem 0 1.5rem 0;
}

.p-i-btn {
    border: 0;
    color: var(--mainWhite);
    background-color: var(--primaryColor);
    width: 305px;
    line-height: 18px;
    font-weight: 500;
    font-size: 18px;
    padding: 16px 95px 18px 95px;
    border-radius: 120px;
    box-shadow: rgb(74 20 140 / 18%) 0px 3px 5px 0px;
    cursor: pointer;
    margin-top: 2.2rem;
}

.p-i-btn:hover {
    background-color: #250b46;
    transition: .8s;
}

.p-i-img {
    width: 41rem;
}

.lorem {
    margin-top: 100rem;
}