* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Vazir;
}

:root {
    --primaryColor: #4A148C;
    ;
    --mainWhite: #fff;
    --mainBlack: #000;
    --mainGreen: #f8faf9;
    --mainBlue: #f8f9fb;
    --gradient-background: linear-gradient(to left, #25c1e9, #556ff8);
}

body {
    width: 95%;
    direction: rtl;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2.6rem 0 0 0;
}

.nav-logo-text {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.nav-logo {
    width: 35px;
    height: 35px;
}

.nav-text {
    font-size: 1.9em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2.4rem;
}

ul a {
    color: var(--mainBlack);
    text-decoration: none;
    transition: 0.5s;
    font-size: 1.1em;
}

.nav-icons {
    display: flex;
    gap: .05rem;
    align-items: center;
    justify-content: center;
}

.nav-circle {
    background-color: #FFFFFFCC;
    transition: all 200ms ease;
    padding: 9px 12px 6px 12px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #4A148C;
    border-radius: 500px 500px 500px 500px;
    margin: 0 auto;
}

.nav-circle:hover {
    color: var(--mainWhite);
    cursor: pointer;
    background-color: #4A148C;
}

.search-icon-circle {
    background-color: var(--mainWhite);
    transition: all 200ms ease;
    padding: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--mainWhite);
    border-radius: 500px 500px 500px 500px;
    margin-left: 14px;
}

.search-icon-circle:hover {
    background-color: var(--primaryColor);
    transition: all 200ms ease;
    padding: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #4A148C;
    border-radius: 500px 500px 500px 500px;
    cursor: pointer;
}

.search-icon {
    display: flex;
    width: 28px;
    height: 28px;
    color: #4A148C;
}

.search-icon:hover {
    color: var(--mainWhite);
}

.person-icon {
    width: 19px;
    height: 19px;
    color: #4A148C;
    margin-top: 2px;
}

.person-icon:hover {
    color: var(--mainWhite);
}

.amount {
    position: relative;
    position: relative;
    right: 52px;
    bottom: 16px;
    color: var(--mainWhite);
    background-color: rgba(89, 86, 233, 1);
    border-radius: 5px 5px 0px 5px;
    padding: 0px 3px 0px 3px;
    font-size: .9em;
}

.amount:hover {
    color: var(--mainWhite);
    background-color: rgba(89, 86, 233, 1);
    border-radius: 5px 5px 0px 5px;
    padding: 0px 3px 0px 3px;
    cursor: pointer;
}

.heart-icon {
    width: 19px;
    height: 19px;
    color: #4A148C;
    margin: 2px 0 0 0;
    margin-top: 2px;
}

.heart-icon:hover {
    color: var(--mainWhite);
}

.shop-icon {
    width: 19px;
    height: 19px;
    color: #4A148C;
    margin-top: 2px;
}

.shop-icon:hover {
    color: var(--mainWhite);
}